<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.repository.BlogTypeRopository">
	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="typeName" column="typeName"/>
		<result property="orderNo" column="orderNo"/>
	</resultMap>
	<select id="findById" parameterType="integer" resultMap="BlogTypeResult">
		select * from t_blogtype where id=#{id}
	</select>
	<select id="countList" resultMap="BlogTypeResult">
		select t.id,t.typeName, count(b.id) blogCount from t_blogtype t left join t_blog b on b.typeId=t.id group by t.typeName order by t.orderNo 
	</select>
</mapper>
